html, body{
    height: 100%;
}
    
body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12pt;
}
        
/*Add the below code to style.css*/
header{
    overflow: hidden;
}

#top-header{  
    text-align: center;
    height: 60px;
}
    margin: 0;
    padding: 0;
    color: #404040;
}
    #menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
    
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #0074D9;
}
    
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
    
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
    
#menu li a{
        
    color: #FFF;
}
    
#menu li:hover a, #menu li span{
    background: #FFF;
    color: #0074D9;
    border-left: 1px solid #0074D9;
    text-decoration: none;
}
p {
    line-height: 180%;
}

ol, ul{
    padding: 0;
    list-style: none;
})
    
.container{    
    /* Set width of container to 
        1200px and align center */
    margin: 0px auto;
    width: 1200px;
}